<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="http://localhost:3000/stylesheets/boot.css">
        <title>評論管理</title>
    </head>
    <body>
    <h1>新增評論</h1>
        <div class="card">
            <div class="card-header">

                <div class="ds_history">
                    <script>
                document.getElementById('histort_content_add').style.display = 'none';
            </script>
                </div>

            </div>
            <div class="card-body">
                <form method="POST" action="/sample_data/add_sample_data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>使用者</label>
                                <input type="text" name="first_name"
                                    id="first_name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>留言內容</label>
                                <input type="text" name="age" id="age"
                                    class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="submit" name="submit_button" class="btn
                            btn-primary" value="新增留言"
                            onclick="
                            var content= document.getElementById('age').value;
                            if(content.length> 30){
                        document.getElementById('age').value = '';
                        alert('字數限制30字');

                        }
                        "
                        />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>