extends layout

block content
  div.content
    div.goods
      h1 Hello #{title}
      p Welcome to Yeon's Shop #{title} !!!
      i(class="fa-solid fa-magnifying-glass search_icon",style="position:relative;color:black;top:5px;left:4px;")
  div 

