extends layout 



block content 
  div(style="display:flex;justify-content:center")
    div(style="border:solid;position:relative;height:400px;top:100px;")
      h1 Login   
      form(method='POST', action='/users/login')
        div
          div
            label(for='username') username : &nbsp    
            input#username(type='text', name='username')
            // name是提交表單後 伺服器收到資料名稱
            br
            br
        div
            label(for='password') password : &nbsp        
            input#password(type='password', name='password')
            // type="password" 會隱藏輸入的文字
            br
            br
        div(style="width:300px;")
          div(style="position:relative;width:50px;left:220px;")
             input(type='submit', value='登入')
        div
          h6
            a(href='/users/register') Not Register?
     

