extends layout 
link(rel="stylesheet", href="/stylesheets/MyProduct.css")
block users 
    include userHeader
block content 
    div.content
        div.goods 
      
        div(style="display:flex;flex-direction:column;width:200px;height:200px;")
            div
            
        
    
          script(src="/javascripts/Mall.js") 
            