extends layout 
link(rel="stylesheet", href="/stylesheets/MyProduct.css")
block users 
    include userHeader
block content 
    div.content
        div.goods 
      
        div(style="display:flex;flex-direction:column;width:200px;height:200px;")
            div
                button(style="position:relative;width:50px;height:50px;",onclick='location.href=`./myproduct/upload`') 上架
            div
                button(style="position:relative;width:50px;height:50px;", id="delete_button") 下架
    
    
          script(src="/javascripts/Product.js") 
            