<!DOCTYPE html>
<html>
  <head>
    <title id="page_title">Yeon's Shop</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/font-awesome.js"></script>
    <script src="/javascripts/axios.min.js"></script>
    <script src="/javascripts/jquery.js"> </script>
  </head>
  <body>
    <div>
      <div id="header">
        <div id="title"> <a href="/" class="normaltextlink"><span style="color:aqua">Yeon's  </span>Shop </a></div>
        <div id="search"> 
          <form action="/products" method="get"> 
            <div class="searchinput">
              <div>
                <input type="text" placeholder="請輸入欲搜尋商品" name="productName" style="border:0px;height:25px;width:700px;z-index:-1;">
              </div>
              <div style="width:25px;height:35px;">
                <button type="submit" style="padding-top:3px;padding-left:5px;padding-right:6px;padding-bottom:3px;" class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <div class="users" id="user"> 
          <div> <a href="/users/login" class="user_a">登入</a></div>
          <div> <a href="/users/register" class="user_a">註冊</a></div>
        </div>
        <script src="/javascripts/cookie.js"></script>
      </div><br><br>
      <link rel="stylesheet" href="/stylesheets/MyProduct.css">
      <div class="content">
        <div class="goods"> 
          <div style="display:flex;flex-direction:row;"> 
            <div> <img id="Product_Image"></div>
            <div>
              <div> 
                <h1 id="Product_Name"> </h1>
              </div>
              <div> 
                <h1 id="Product_Price"></h1>
              </div>
            </div>
          </div>
          <div style="height:100px;"> 
            <h2>商場:<a id="Upload_User_Mall"> </a></h2>
          </div>
          <div>
            <h2>商品內容: </h2>
            <p>
              <h4 id="Product_Content">內容</h4>
            </p>
          </div>
        </div>
      </div>
      <script src="/javascripts/Product.js"> </script>
    </div>
  </body>
</html>