extends layout 
link(rel="stylesheet", href="/stylesheets/MyProduct.css")
block users 
    include userHeader
block content 
    div.content
        div.goods 
            div(style="display:flex;flex-direction:row;") 
                div 
                    img(id="Product_Image")
                div
                    div 
                        h1(id="Product_Name") 

                    div 
                        h1(id="Product_Price")
            div(style="height:100px;") 
                h2 商場:
                    a(id="Upload_User_Mall") 
                    
                    


            div
               
                h2 商品內容: 
                p
                    h4(id="Product_Content") 內容
      script(src="/javascripts/Product.js") 
      
            