extends layout 


block content

    p Hello
    div#upload_product
        form(action="", method="post"  ) 
            div(class="upload_info")
                div(class="upload_input1")
                    div 
                        label(for="Product_Name") 產品名稱
                        input(type="text", name="Product_Name",class="upload_text")
                div(class="upload_input1 ")
                    div 
                        label(for="Product_Discribtion") 產品描述
                        input(type="text", name="Product_Discribtion", class="upload_text")

                div(class="upload_input1 ")
                    div
                        label(for="Product_Content") 產品內容
                        textarea(name="Product_Content", cols="30", rows="10",class="upload_text",style="height:100px;") 
                div(class="upload_input1")
                    div
                        button(type="submit" ,name="Product_Submit_Button",id="Product_Submit_Button" )提交
                