extends layout 

block users 
    include userHeader

block content
    
    div#upload_product
        div
            form(action="/products/myproduct/upload", method="POST" enctype="multipart/form-data" ) 
                div(class="upload_info")
                    div(class="upload_input1")
                        div 
                            label(for="Product_Name") 產品名稱
                            input(type="text", name="Product_Name",class="upload_text",minlength=1)
                    div(class="upload_input1 ")
                        div 
                            label(for="Product_Discribtion") 商品描述
                            input(type="text", name="Product_Discribtion", class="upload_text")
            
                    div(class="upload_input1 ")
                        div
                            label(for="Product_Content") 商品內容
                            textarea(name="Product_Content", cols="30", rows="10",class="upload_text",style="height:100px;") 
                    div(class="upload_input1")
                        div 
                            label(for="Product_Price")  商品金額 
                            input(type="number",name="Product_Price" ,id="Product_Price",min=0)
                    div(class="upload_input1 ")
                        div 
                            input(type="file" onchange ="preview()" name="Product_Image"  accept="image/gif, image/jpeg, image/png")
                    div(class="upload_input1")
                        div
                            button(type="submit" ,name="Product_Submit_Button",id="Product_Submit_Button" ) 上架
                    div(class="upload_input1")
                        div(style="display:flex;flex-direction:row;",id="Upload_Img_Preview_div")
                        
        script(src="/javascripts/preview.js")
        
