div.users 
    div(style="font-size:20px;height:15px;")
        h6 
            a(class="user_a" href="/products/myproduct" style="width:100px;") My Product
    div
        h5(style="margin:5px") Hello #{username}
        h5
            a(class="user_a",href="/users/logout") Logout 
     
