extends layout 

block users
    include userHeader
block content 
    div.content
        div.goods
            h1 Hello #{title}
            p Welcome to Yeon's Shopsadasdsa !!!
            div 
                a(href="/users/logout") Logout 
