.goods_div{
    width: 200px;
    height: 250px;
    /* background-color: aqua; */
    margin:10px;
    /* border: 3px solid rgb(2, 2, 2); */
}
.info_div{
    width: 200px;
    height: 20%;

    /* border: 3px solid rgb(2, 2, 2); */
}

.img_div{
   
    margin-left: 7px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 180px;
    height: 200px;
}
.price_div{
    width: 200px;
    text-align: center;

    /* border: 3px solid rgb(2, 2, 2); */


}
.link_div{

    border: 3px solid rgb(2, 2, 2);

    width: 200px;
    height: 250px;
    border-radius: 5px;
}
.links_div{
    width: 200px;
    height: 250px;
    text-decoration: none;
    color: #000;

    /* border: 3px solid rgb(2, 2, 2); */
}
.goodsname_div{
    
    text-align: center;


    /* border: 3px solid rgb(2, 2, 2); */
}
.product_div{
    width: 195px;
    height: 245px;
    background-color: rgb(222, 209, 146);
    border-radius: 5px;


    /* border: 3px solid rgb(2, 2, 2); */

}
/* .contents::before{
    content: "";
    width:90px;
} */
.contents{
    display: flex;
    flex-direction: row;
    width:1500px;
}
.all_goodss{
    /*border: 5px solid rgb(0, 0, 0);*/
    /*border-radius: 5px;*/
    width: 1500px;
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;

}
.focus{
    display: flex;
    margin-bottom: 40px;
}
/* .goods_title::before{
    content: "";
    width:60px;
} */
.goods_title{
    /* border: 5px solid rgb(0, 0, 0);
    border-radius: 5px; */
    display: flex;
    flex-direction: row;
    flex: 1;
}
.goods_second{
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; */
    flex: 1;
    display: flex;
}
.second_left{
    /*border: 2px solid rgb(0, 0, 0);*/
    /*border-radius: 5px;*/
    flex: 1;
    flex-direction: column;
}
.second_right{
   /* border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;*/
    flex: 1;
    flex-direction: column;
}
.today1{
    /*border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;*/
    width: 100%;
    height: 50%;
    flex: 1;
}
.today2{
    /*border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;*/
    height: 50%;
    flex: 1;
}
.today3{
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; */
  
    height: 50%;
    flex: 1;
}
.today4{
    /* border: 2px solid rgb(0, 0, 0);
    border-radius: 5px; */
    height: 50%;
    flex: 1;
}