.title_goods_div{
    width: 100%;
    height: 100%;
    margin-left: 40px;
    /* background-color: aqua; */
    border-radius: 6px;
    border: 3px solid rgb(2, 2, 2); 
}
.title_info_div{
    width: 100%;
    height: 19%;
    border-radius: 5px;
    border: 3px solid rgb(2, 2, 2);
    background-color: rgb(222, 209, 146);
}

.title_img_div{
    margin: auto;
    /* margin-left: 22px; */
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 5px;
    width: 100%;
    height: 420px;
}
.title_price_div{
    width: 100%;
    text-align: center;

    /* border: 3px solid rgb(2, 2, 2); */


}
.title_link_div{

    /*border: 3px solid rgb(2, 2, 2);*/
  
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.title_links_div{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;

    /* border: 3px solid rgb(2, 2, 2); */
}
.title_goodsname_div{
    
    text-align: center;


    /* border: 3px solid rgb(2, 2, 2); */
}
.title_product_div{
    width: 100%;
    height: 100%;


    /* border: 3px solid rgb(2, 2, 2); */

}
