.goodDiv{
    margin: 25px;
    margin-left: 50px;
    background-color: white;
    width: 900px;
}

#Cart_add{
    border-radius: 5px;
}
#Product_Buy{
    border-radius: 5px;
}
#Amount{
    border-radius: 5px;

}
#Product_Image{
    border-radius: 5px;
}
.goodDiv{
    border-radius: 5px;
}